openapi: 3.0.3
info:
  title: Gateway Engine API
  description: Translation proxy for multiple AI CLI formats to LiteLLM (OpenAI Chat Completions).
  version: 1.0.0
servers:
  - url: https://gateway.infra.plexplease.com
    description: Production k3s Gateway Engine
  - url: http://localhost:4000
    description: Stable local gateway-engine
  - url: http://localhost:4010
    description: Development slot 1 gateway-engine
paths:
  /version:
    get:
      summary: Get Gateway Engine release identity
      description: Returns the human SemVer release and immutable Git source revision baked into the running image.
      responses:
        '200':
          description: Release identity
          content:
            application/json:
              schema:
                type: object
                required: [version, git_sha, display_version]
                properties:
                  version:
                    type: string
                    example: "1.2.1"
                  git_sha:
                    type: string
                    example: "0123456789abcdef0123456789abcdef01234567"
                  display_version:
                    type: string
                    example: "1.2.1+sha.0123456"
              example:
                version: "1.2.1"
                git_sha: "0123456789abcdef0123456789abcdef01234567"
                display_version: "1.2.1+sha.0123456"
  /v1/chat/completions:
    post:
      summary: Proxy for Cursor/OpenAI hybrid formats
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model: {type: string}
                messages: {type: array, items: {type: object}}
            example:
              model: "AI-Gateway:gpt-4"
              messages: [{"role": "user", "content": "Hello!"}]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                id: "chatcmpl-123"
                choices: [{"message": {"role": "assistant", "content": "Hello there!"}}]
  /v1beta/models/{model_action}:
    get:
      summary: Get models information
      parameters:
        - name: model_action
          in: path
          required: true
          schema: {type: string}
    post:
      summary: Gemini CLI format proxy
      parameters:
        - name: model_action
          in: path
          required: true
          schema: {type: string}
      responses:
        '200':
          description: Successful response
  /v1/responses:
    post:
      summary: Codex CLI / OpenAI Responses API proxy
      responses:
        '200':
          description: Successful response
    get:
      summary: Codex WebSocket proxy
      responses:
        '101':
          description: Switching Protocols (WebSocket)
  /v1/messages:
    post:
      summary: Claude / Anthropic Messages API proxy
      responses:
        '200':
          description: Successful response
  /v1/config/generate:
    post:
      operationId: generateClientConfig
      summary: Generate a bounded placeholder-only client configuration
      description: >-
        Generates deterministic copy/paste profiles equivalent to
        gen-client-config.sh. This operator-only route is disabled by default;
        it never reads keys, invokes a shell, writes files, or calls an
        upstream. Generated output is bounded to 64 KiB and uses a key-variable
        placeholder rather than a credential.
      tags: [Admin]
      security:
        - AdminKey: []
      parameters:
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
        - name: x-management-scope
          in: header
          required: true
          schema: {type: string, enum: [config:generate]}
        - name: idempotency-key
          in: header
          required: false
          description: Optional visible ASCII retry key, at most 128 characters.
          schema: {type: string, maxLength: 128}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                client: {type: string, enum: [cursor, claude-code, codex, gemini, openai-sdk, all], default: all}
                base_url: {type: string, format: uri, maxLength: 512, default: http://localhost:4000}
                key_var: {type: string, pattern: '^[A-Z_][A-Z0-9_]{0,63}$', default: AI_GATEWAY_KEY}
                org: {type: string, pattern: '^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$', default: echoares}
                workspace: {type: string, pattern: '^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$', default: core}
                team: {type: string, pattern: '^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$', default: eng}
                repo: {type: string, pattern: '^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$', default: my-repo}
                env: {type: string, pattern: '^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$', default: dev}
      responses:
        '200':
          description: Deterministic placeholder-only client configuration
          headers:
            Cache-Control: {schema: {type: string, enum: [no-store]}}
          content:
            application/json:
              schema:
                type: object
                required: [schema_version, client, base_url, key_var, tenant_key_example, content_type]
                additionalProperties: true
        '400': {description: Request validation failed}
        '401': {description: Management authentication is missing or invalid}
        '403': {description: Management scope is not permitted}
        '404': {description: Config generation is disabled}
        '409': {description: Idempotency key conflicts with another request}
        '413': {description: Request or generated response exceeds its bound}
        '500': {description: Bounded renderer failure}
  /admin/config:
    get:
      operationId: getUnifiedConfigSnapshot
      summary: Read a bounded unified configuration snapshot
      description: >-
        Returns the config-snapshot.v1 safe projection from fixed server-side
        sources. This operator-only route is disabled by default. Partial source
        failures return a degraded 200 response; raw configuration, environment
        values, secrets, credentials, URLs, paths, commands, and raw exceptions
        are never returned. Compact serialized responses are limited to 64 KiB.
        Every response includes Cache-Control: no-store.
      tags: [Admin]
      security:
        - AdminKey: []
      parameters:
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
        - name: x-management-scope
          in: header
          required: true
          schema: {type: string, enum: [config:read]}
      responses:
        '200':
          description: Healthy or safely degraded config-snapshot.v1 projection
          headers:
            Cache-Control:
              description: Prevent storage of operational configuration metadata.
              schema: {type: string, enum: [no-store]}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/UnifiedConfigSnapshot'}
        '400':
          description: Query parameters are not accepted (`config_snapshot_invalid_request`)
          headers:
            Cache-Control: {schema: {type: string, enum: [no-store]}}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/UnifiedConfigSnapshotError'}
        '401':
          description: Admin key is missing or incorrect (`config_snapshot_auth_required`)
          headers:
            Cache-Control: {schema: {type: string, enum: [no-store]}}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/UnifiedConfigSnapshotError'}
        '403':
          description: Management scope is not exactly config:read (`config_snapshot_scope_forbidden`)
          headers:
            Cache-Control: {schema: {type: string, enum: [no-store]}}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/UnifiedConfigSnapshotError'}
        '404':
          description: Endpoint is disabled (`config_snapshot_disabled`)
          headers:
            Cache-Control: {schema: {type: string, enum: [no-store]}}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/UnifiedConfigSnapshotError'}
        '502':
          description: Compact response exceeds 64 KiB (`config_snapshot_too_large`)
          headers:
            Cache-Control: {schema: {type: string, enum: [no-store]}}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/UnifiedConfigSnapshotError'}
        '503':
          description: Admin authentication is not configured or orchestration is unavailable (`config_snapshot_unavailable`)
          headers:
            Cache-Control: {schema: {type: string, enum: [no-store]}}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/UnifiedConfigSnapshotError'}
  /metrics:
    get:
      summary: Prometheus metrics endpoint
      responses:
        '200':
          description: Success
  /admin/keys:
    post:
      summary: Create a stable launcher virtual key
      description: >-
        Creates a caller-named LiteLLM key using write-ahead OpenBao escrow. The
        token is returned only after LiteLLM identity verification and is never
        returned in an error response. Older gateway-engine versions proxy this
        operation directly to LiteLLM and therefore do not provide recovery.
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/AdminKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StableKeyCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/StableKeySuccess'
        '403':
          description: Gateway Engine admin key is missing or invalid (`admin_key_required`)
          headers:
            Cache-Control:
              schema: {type: string, enum: [no-store]}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/StableKeyError'}
        '409':
          $ref: '#/components/responses/StableKeyConflict'
        '422':
          description: Invalid request body or key alias (`invalid_request` or `invalid_key_alias`)
          headers:
            Cache-Control:
              schema: {type: string, enum: [no-store]}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/StableKeyError'}
        '502':
          $ref: '#/components/responses/StableKeyIncomplete'
        '503':
          $ref: '#/components/responses/SecretStoreUnavailable'
  /admin/keys/{alias}/secret:
    get:
      summary: Recover a stable launcher virtual-key secret
      description: >-
        Returns the original token only when the LiteLLM and active OpenBao
        identities agree. Slash-containing aliases must be percent-encoded by
        clients. All responses include Cache-Control: no-store. A 404 route on
        an older gateway-engine means recovery is not supported by that version.
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/AdminKeyHeader'
        - $ref: '#/components/parameters/StableKeyAlias'
      responses:
        '200':
          $ref: '#/components/responses/StableKeySuccess'
        '403':
          description: Gateway Engine admin key is missing or invalid (`admin_key_required`)
          headers:
            Cache-Control:
              schema: {type: string, enum: [no-store]}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/StableKeyError'}
        '404':
          $ref: '#/components/responses/StableKeyNotFound'
        '409':
          $ref: '#/components/responses/StableKeyConflict'
        '422':
          description: Invalid key alias (`invalid_key_alias`)
          headers:
            Cache-Control:
              schema: {type: string, enum: [no-store]}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/StableKeyError'}
        '502':
          $ref: '#/components/responses/StableKeyIncomplete'
        '503':
          $ref: '#/components/responses/SecretStoreUnavailable'
  /admin/keys/{alias}/import:
    post:
      summary: Import a pre-escrow launcher virtual-key secret
      description: >-
        Verifies the supplied original token against LiteLLM before escrowing
        it and refuses to overwrite a different secret. All responses include
        Cache-Control: no-store. This route is absent on older gateway-engine
        versions; callers must not interpret that absence as import success.
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/AdminKeyHeader'
        - $ref: '#/components/parameters/StableKeyAlias'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StableKeyImportRequest'
      responses:
        '200':
          $ref: '#/components/responses/StableKeySuccess'
        '403':
          description: Gateway Engine admin key is missing or invalid (`admin_key_required`)
          headers:
            Cache-Control:
              schema: {type: string, enum: [no-store]}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/StableKeyError'}
        '404':
          $ref: '#/components/responses/StableKeyNotFound'
        '409':
          $ref: '#/components/responses/StableKeyConflict'
        '422':
          description: Invalid request body or key alias (`invalid_request` or `invalid_key_alias`)
          headers:
            Cache-Control:
              schema: {type: string, enum: [no-store]}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/StableKeyError'}
        '502':
          $ref: '#/components/responses/StableKeyIncomplete'
        '503':
          $ref: '#/components/responses/SecretStoreUnavailable'
  /admin/quota/status:
    get:
      summary: Get aggregated OAuth account quota status
      description: >-
        Aggregates CLIProxy passive quota state, live full-window state, and
        credential metadata. The live provider refresh can take up to 30 seconds.
        When GATEWAY_ENGINE_ADMIN_READ_AUTH is enabled, x-admin-key is required;
        otherwise the endpoint is readable without the header. A successful
        response can contain partial dependency errors alongside account data.
        Top-level partial is true only when at least one non-disabled credential
        has live_status missing or error. Per-account quota.live_status is one of
        fresh, unsupported, missing, or error; quota.live_fetched_at is present
        only for fresh live results. Year-1 and Unix-epoch reset timestamps are
        normalized to null. Accounts for the retired Gemini CLI OAuth tier
        (`gemini-cli`) and orphaned bare Gemini API-key auth files (`gemini`)
        are excluded from the accounts array; Antigravity Gemini OAuth accounts
        (`antigravity`) are unaffected.
      security:
        - {}
        - AdminKey: []
      parameters:
        - name: x-admin-key
          in: header
          required: false
          description: Required only when Gateway Engine admin read authentication is enabled.
          schema:
            type: string
      responses:
        '200':
          description: Aggregated account quota state, optionally with partial live failures or dependency errors
          content:
            application/json:
              schema:
                type: object
                required: [status, source, captured_at, partial, accounts]
                properties:
                  status:
                    type: string
                    enum: [ok]
                  source:
                    type: string
                  captured_at:
                    type: string
                    format: date-time
                  partial:
                    type: boolean
                    description: >-
                      True when any active (non-disabled) credential has
                      live_status missing or error. Disabled or unsupported-only
                      credentials do not set this flag.
                  accounts:
                    type: array
                    items:
                      type: object
                      required:
                        - credential_id
                        - email
                        - provider
                        - provider_label
                        - account_status
                        - disabled
                        - applies_to_models
                        - quota
                      properties:
                        credential_id: {type: string}
                        email: {type: string}
                        provider: {type: string}
                        provider_label: {type: string}
                        plan_type: {type: string, nullable: true}
                        account_status: {type: string}
                        disabled: {type: boolean}
                        applies_to_models: {type: string}
                        quota:
                          type: object
                          required:
                            - source
                            - stale
                            - captured_at
                            - windows
                            - tokens_remaining
                            - tokens_limit
                            - requests_remaining
                            - requests_limit
                            - live_status
                          properties:
                            source: {type: string}
                            stale: {type: boolean}
                            captured_at: {type: string, format: date-time, nullable: true}
                            live_status:
                              type: string
                              enum: [fresh, unsupported, missing, error]
                              description: Live full-window lookup outcome for this credential.
                            live_fetched_at:
                              type: string
                              format: date-time
                              description: Present only when live_status is fresh.
                            windows:
                              type: object
                              description: >-
                                Named utilization windows. five_hour, seven_day, and
                                binding are always present; provider-specific windows
                                can also be included. Sentinel year-1 and Unix-epoch
                                resets_at values are normalized to null.
                              additionalProperties:
                                type: object
                                properties:
                                  utilization_pct: {type: number, format: float, nullable: true}
                                  resets_at: {type: string, format: date-time, nullable: true}
                                  resets_in: {type: string, nullable: true}
                            tokens_remaining: {type: integer, nullable: true}
                            tokens_limit: {type: integer, nullable: true}
                            requests_remaining: {type: integer, nullable: true}
                            requests_limit: {type: integer, nullable: true}
                            models:
                              description: Provider-specific per-model quota breakdown.
                              nullable: true
                            full_quota_error:
                              description: Non-fatal error returned by the live full-window lookup.
                              nullable: true
                  errors:
                    type: array
                    description: Non-fatal dependency errors when some account data remains available.
                    items:
                      type: object
                      properties:
                        code: {type: string}
                        message: {type: string}
                        location: {type: string}
              example:
                status: "ok"
                source: "cliproxy:/v0/management/quota-status + /quota-status/full"
                captured_at: "2026-07-11T10:00:01Z"
                partial: false
                accounts:
                  - credential_id: "cred-claude-1"
                    email: "operator@example.com"
                    provider: "claude"
                    provider_label: "Claude"
                    plan_type: "max"
                    account_status: "active"
                    disabled: false
                    applies_to_models: "All Claude models"
                    quota:
                      source: "unified"
                      stale: false
                      captured_at: "2026-07-11T10:00:00Z"
                      live_status: "fresh"
                      live_fetched_at: "2026-07-11T10:00:00Z"
                      windows:
                        five_hour:
                          utilization_pct: 10.0
                          resets_at: "2026-07-11T15:00:00Z"
                        seven_day:
                          utilization_pct: 20.0
                          resets_at: "2026-07-18T10:00:00Z"
                        binding:
                          utilization_pct: 45.0
                          resets_at: "2026-07-11T14:00:00Z"
                          resets_in: "3h59m"
                      tokens_remaining: 1100000
                      tokens_limit: 2000000
                      requests_remaining: null
                      requests_limit: null
              examples:
                freshSuccess:
                  summary: Fresh live quota for active credentials
                  value:
                    status: "ok"
                    source: "cliproxy:/v0/management/quota-status + /quota-status/full"
                    captured_at: "2026-07-11T10:00:01Z"
                    partial: false
                    accounts:
                      - credential_id: "cred-claude-1"
                        email: "operator@example.com"
                        provider: "claude"
                        provider_label: "Claude"
                        plan_type: "max"
                        account_status: "active"
                        disabled: false
                        applies_to_models: "All Claude models"
                        quota:
                          source: "unified"
                          stale: false
                          captured_at: "2026-07-11T10:00:00Z"
                          live_status: "fresh"
                          live_fetched_at: "2026-07-11T10:00:00Z"
                          windows:
                            five_hour:
                              utilization_pct: 10.0
                              resets_at: "2026-07-11T15:00:00Z"
                            seven_day:
                              utilization_pct: 20.0
                              resets_at: "2026-07-18T10:00:00Z"
                            binding:
                              utilization_pct: 45.0
                              resets_at: "2026-07-11T14:00:00Z"
                              resets_in: "3h59m"
                          tokens_remaining: 1100000
                          tokens_limit: 2000000
                          requests_remaining: null
                          requests_limit: null
                partialLiveError:
                  summary: Active credential live lookup failed (partial=true)
                  value:
                    status: "ok"
                    source: "cliproxy:/v0/management/quota-status + /quota-status/full"
                    captured_at: "2026-07-11T10:00:01Z"
                    partial: true
                    accounts:
                      - credential_id: "cred-claude-broken"
                        email: "broken@example.com"
                        provider: "claude"
                        provider_label: "Claude"
                        plan_type: "max"
                        account_status: "active"
                        disabled: false
                        applies_to_models: "All Claude models"
                        quota:
                          source: "unified"
                          stale: false
                          captured_at: "2026-07-11T10:00:00Z"
                          live_status: "error"
                          windows:
                            five_hour:
                              utilization_pct: 10.0
                              resets_at: "2026-07-11T15:00:00Z"
                            seven_day:
                              utilization_pct: null
                              resets_at: null
                            binding:
                              utilization_pct: 45.0
                              resets_at: null
                              resets_in: null
                          tokens_remaining: 1100000
                          tokens_limit: 2000000
                          requests_remaining: null
                          requests_limit: null
                          full_quota_error: "anthropic returned 503"
        '403':
          description: Admin read authentication is enabled and x-admin-key is missing or invalid
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: object
                    required: [message, code]
                    properties:
                      message: {type: string}
                      code: {type: string, enum: [admin_key_required]}
              example:
                error:
                  message: "gateway-engine admin mutations are disabled or unauthorized"
                  code: "admin_key_required"
        '502':
          description: CLIProxy quota dependencies failed and no account quota state is available
          content:
            application/json:
              schema:
                type: object
                required: [status, errors]
                properties:
                  status:
                    type: string
                    enum: [error]
                  errors:
                    type: array
                    items:
                      type: object
                      required: [code, message, location]
                      properties:
                        code: {type: string}
                        message: {type: string}
                        location: {type: string}
              example:
                status: "error"
                errors:
                  - code: "cliproxy_fetch_error"
                    message: "ConnectError: CLIProxy unreachable"
                    location: "cliproxy:/v0/management/quota-status"
        '503':
          description: Admin read authentication is enabled but no Gateway Engine admin key is configured
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: object
                    required: [message, code]
                    properties:
                      message: {type: string}
                      code: {type: string, enum: [admin_key_required]}
              example:
                error:
                  message: "GATEWAY_ENGINE_ADMIN_KEY not configured"
                  code: "admin_key_required"
  /admin/cliproxy/health:
    get:
      operationId: adminCliproxyHealth
      summary: Read bounded CLIProxy health
      description: >-
        Operator-only, read-only CLIProxy health adapter. The feature is
        disabled by default. Responses are bounded and redact credentials,
        token values, cookies, paths, and raw upstream errors.
      tags: [Admin]
      parameters:
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
        - name: x-management-scope
          in: header
          required: true
          schema: {type: string, enum: [cliproxy:health:read]}
      responses:
        '200':
          description: Redacted CLIProxy health payload
          content:
            application/json:
              schema: {type: object, additionalProperties: true}
        '401': {description: Management authentication is missing or invalid}
        '403': {description: Management scope is not permitted}
        '404': {description: Management adapter is disabled}
        '502': {description: Upstream response was invalid or unauthorized}
        '503': {description: CLIProxy is unavailable or not configured}
        '504': {description: CLIProxy timed out}
  /admin/cliproxy/auth-files:
    get:
      operationId: adminCliproxyAuthFiles
      summary: Read safe CLIProxy account inventory
      description: >-
        Returns provider/account status metadata only. Authentication files,
        token values, cookies, credentials, and filesystem paths are redacted.
      tags: [Admin]
      parameters:
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
        - name: x-management-scope
          in: header
          required: true
          schema: {type: string, enum: [cliproxy:sessions:read]}
      responses:
        '200':
          description: Redacted account inventory
          content:
            application/json:
              schema: {type: object, additionalProperties: true}
        '401': {description: Management authentication is missing or invalid}
        '403': {description: Management scope is not permitted}
        '404': {description: Management adapter is disabled}
        '502': {description: Upstream response was invalid or unauthorized}
        '503': {description: CLIProxy is unavailable or not configured}
        '504': {description: CLIProxy timed out}
  /admin/cliproxy/config:
    get:
      operationId: adminCliproxyConfig
      summary: Read safe CLIProxy configuration summary
      description: >-
        Returns only a bounded redacted configuration summary. Management and
        provider keys, environment references, credentials, and paths are not
        returned.
      tags: [Admin]
      parameters:
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
        - name: x-management-scope
          in: header
          required: true
          schema: {type: string, enum: [cliproxy:config:read]}
      responses:
        '200':
          description: Redacted configuration summary
          content:
            application/json:
              schema: {type: object, additionalProperties: true}
        '401': {description: Management authentication is missing or invalid}
        '403': {description: Management scope is not permitted}
        '404': {description: Management adapter is disabled}
        '502': {description: Upstream response was invalid or unauthorized}
        '503': {description: CLIProxy is unavailable or not configured}
        '504': {description: CLIProxy timed out}
  /admin/status:
    get:
      summary: Read-only operator status aggregator
      description: >-
        Includes model reconciliation scheduler health at
        panels.models.reconciliation. Error summaries are bounded and
        redacted; credentials and unconstrained provider error text are never
        returned. While active is true, trigger and requested_model describe
        the current run, while outcome is null, counts are zero, verification
        is not_run, and errors is empty. Completed-result fields are populated
        only after the active run finishes. Verification is one of not_run,
        dry_run, not_required, verified, failed, rollback, or the safe fallback
        unknown.
      responses:
        '200':
          description: admin-console.v1 JSON payload
          content:
            application/json:
              example:
                schema_version: "admin-console.v1"
                panels:
                  models:
                    status: "ok"
                    reconciliation:
                      enabled: true
                      interval_seconds: 900
                      active: false
                      pending: false
                      phase: "complete"
                      last_attempt_at: "2026-07-23T10:00:00Z"
                      last_success_at: "2026-07-23T10:00:02Z"
                      trigger: "scheduled"
                      requested_model: null
                      outcome: "success"
                      counts:
                        discovered: 12
                        added: 1
                        updated: 0
                        enabled: 12
                        disabled: 0
                        unchanged: 11
                        advertised: 12
                        retired: 0
                        absent: 0
                      verification: "verified"
                      errors: []
                  token_analytics:
                    status: "ok"
                    data:
                      summary:
                        total_input_tokens: 1250000
                        total_output_tokens: 350000
                        total_tokens: 1600000
  /admin/status/policy:
    get:
      summary: Read recent policy routing decisions
      description: Exposes a sliding window of recent routing policy decisions and execution metrics, with client-identifying secrets redacted.
      security:
        - {}
        - AdminKey: []
      parameters:
        - name: x-admin-key
          in: header
          required: false
          description: Required only when Gateway Engine admin read authentication is enabled.
          schema:
            type: string
      responses:
        '200':
          description: A list of recent routing policy decision entries
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [evaluated_at, evaluate_ms, decision]
                  properties:
                    evaluated_at:
                      type: string
                      format: date-time
                    evaluate_ms:
                      type: number
                      format: float
                    decision:
                      type: object
                      required: [gate, rules_applied]
                      properties:
                        gate:
                          type: string
                          enum: [allow, deny, throttle]
                        deny_reason:
                          type: string
                          nullable: true
                        retry_after_seconds:
                          type: integer
                          nullable: true
                        allowed_models:
                          type: array
                          items:
                            type: string
                        fallback_chain:
                          type: array
                          items:
                            type: string
                        ordered_deployments:
                          type: array
                          items:
                            type: string
                        credential_tier_preference:
                          type: string
                          nullable: true
                        preferred_credential_id:
                          type: string
                          nullable: true
                        session_key:
                          type: string
                          nullable: true
                        lock_model_family:
                          type: boolean
                        cache_cold_start:
                          type: boolean
                        quota_aware_mode:
                          type: boolean
                        deprioritized_credentials:
                          type: array
                          items:
                            type: string
                        allowed_mcp_servers:
                          type: array
                          items:
                            type: string
                          nullable: true
                        denied_mcp_servers:
                          type: array
                          items:
                            type: string
                        policy_version:
                          type: string
                        rules_applied:
                          type: array
                          items:
                            type: string
                        debug:
                          type: object
                    error:
                      type: string
                      nullable: true
              example:
                - evaluated_at: "2026-07-20T15:39:31Z"
                  evaluate_ms: 2.34
                  decision:
                    gate: "allow"
                    allowed_models: ["claude-sonnet-4-6", "gemini-3-flash"]
                    fallback_chain: ["claude-sonnet-4-6", "gemini-3-flash"]
                    ordered_deployments: ["cred-claude-1", "cred-gemini-2"]
                    rules_applied: ["postgres:profiles_loaded", "agent_affinity:matched"]
                  error: null
        '403':
          description: Admin read authentication is enabled and x-admin-key is missing or invalid
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: object
                    required: [message, code]
                    properties:
                      message: {type: string}
                      code: {type: string}
              example:
                error:
                  message: "gateway-engine admin mutations are disabled or unauthorized"
                  code: "admin_key_required"
  /admin/analytics/tokens:
    get:
      summary: Granular token usage analytics by provider and model
      responses:
        '200':
          description: Token analytics panel
          content:
            application/json:
              example:
                status: "ok"
                source: "gateway-engine:/metrics (token counters)"
                data:
                  summary:
                    total_input_tokens: 1250000
                    total_output_tokens: 350000
                    total_tokens: 1600000
                  by_provider:
                    - provider: "anthropic"
                      model_count: 3
                      input_tokens: 600000
                      output_tokens: 150000
                      total_tokens: 750000
                  by_model:
                    - model: "claude-sonnet-4-6"
                      provider: "anthropic"
                      input_tokens: 350000
                      output_tokens: 85000
                  by_canonical_model:
                    - canonical_model_id: "claude-sonnet-4-6"
                      canonical_provider: "anthropic"
                      canonical_family: "claude"
                      requested_models: ["claude-sonnet-4-6", "sonnet"]
                      input_tokens: 350000
                      output_tokens: 85000
                      total_tokens: 435000
  /admin/credentials:
    get:
      summary: List redacted gateway-engine credential inventory records
      responses:
        '200':
          description: Credential inventory state from Postgres. Labels, fingerprints, and request metadata are redacted.
          content:
            application/json:
              example:
                source: "postgres:credential_inventory"
                registry_available: true
                credentials:
                  - credential_id: "claude-mock.json"
                    provider: "anthropic"
                    label: "[redacted]"
                    key_fingerprint: "[redacted]"
                    status: "HEALTHY"
                    consecutive_failures: 0
                    metadata:
                      status_message: ""
                      updated_at: "2026-06-06T13:00:00Z"
                errors: []
  /admin/credentials/sync:
    post:
      summary: Sync CLIProxy auth-file state into credential_inventory
      parameters:
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run:
                  type: boolean
                  default: true
            example:
              dry_run: true
      responses:
        '200':
          description: Sync result with redacted credential records and policy-compatible transitions
          content:
            application/json:
              example:
                accepted: true
                dry_run: true
                source: "cliproxy:/v0/management/auth-files"
                registry_available: true
                discovered_count: 1
                imported_count: 1
                credentials:
                  - credential_id: "claude-mock.json"
                    provider: "anthropic"
                    label: "[redacted]"
                    key_fingerprint: "[redacted]"
                    status: "CRITICAL"
                transitions:
                  - credential_id: "claude-mock.json"
                    provider: "anthropic"
                    previous_status: "HEALTHY"
                    new_status: "CRITICAL"
                    reason: "401 invalid token"
                errors: []
        '403':
          description: Invalid admin key
        '503':
          description: Admin mutations disabled or dependency unavailable
  /admin/credentials/{credential_id}/probe:
    post:
      summary: Targeted credential probe placeholder
      description: Returns a documented unsupported response until CLIProxy exposes a targeted credential probe API.
      parameters:
        - name: credential_id
          in: path
          required: true
          schema: {type: string}
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
      responses:
        '501':
          description: Targeted credential probe is not supported by current CLIProxy management API
  /admin/credentials/{credential_id}/remediate:
    post:
      summary: Apply an audited credential remediation action
      description: Applies a state-machine-validated disable, enable, cooldown reset, or probe action. Responses contain bounded audit fields and never return credential secrets.
      parameters:
        - name: credential_id
          in: path
          required: true
          schema: {type: string}
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, actor, reason]
              properties:
                action:
                  type: string
                  enum: [disable, enable, reset_cooldown, probe]
                actor: {type: string, maxLength: 120}
                reason: {type: string, maxLength: 500}
            example:
              action: disable
              actor: operator@example.com
              reason: rotate credential
      responses:
        '200':
          description: Remediation decision and secret-free audit record
          content:
            application/json:
              example:
                accepted: true
                credential_id: claude-mock.json
                previous_status: CRITICAL
                new_status: SUSPENDED
                changed: true
                audit:
                  action: disable
                  actor: operator@example.com
                  reason: rotate credential
                errors: []
        '403':
          description: Invalid admin key
        '503':
          description: Registry unavailable
  /model/new:
    post:
      summary: Hot-add a model to registry and LiteLLM runtime router
      description: Upserts the gateway-engine model registry record, then calls LiteLLM runtime `/model/new` so the model is immediately available without restarting.
      parameters:
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
      requestBody:
        content:
          application/json:
            example:
              model_id: "gpt-5-6-sol-high"
              upstream_model: "gpt-5.6-sol-high"
              litellm_model: "openai/gpt-5.6-sol-high"
              supports_tools: true
      responses:
        '200':
          description: Registry updated; LiteLLM add may be full success or partial success
          content:
            application/json:
              example:
                accepted: true
                partial_success: false
                registry_available: true
                model:
                  model_id: "gpt-5-6-sol-high"
                  provider: "openai"
                  family: "openai"
                  upstream_model: "gpt-5.6-sol-high"
                  litellm_model: "openai/gpt-5.6-sol-high"
                  enabled: true
                  status: "UNKNOWN"
                litellm_add:
                  ok: true
                  status_code: 200
                  body:
                    message: "model added"
                  reason: null
                errors: []
        '403':
          description: Invalid admin key
        '503':
          description: Admin mutations disabled when GATEWAY_ENGINE_ADMIN_KEY is unset
  /model/delete:
    post:
      summary: Hot-delete a model from registry and LiteLLM runtime router
      parameters:
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
      requestBody:
        content:
          application/json:
            example:
              model_id: "gpt-5-6-sol-high"
      responses:
        '200':
          description: Registry deletion executed; LiteLLM delete may be full success or partial success
          content:
            application/json:
              example:
                accepted: true
                partial_success: true
                registry_available: true
                model:
                  model_id: "gpt-5-6-sol-high"
                  provider: "openai"
                  family: "openai"
                  upstream_model: "gpt-5.6-sol-high"
                  litellm_model: "openai/gpt-5.6-sol-high"
                  enabled: true
                  status: "UNKNOWN"
                litellm_delete:
                  ok: false
                  status_code: null
                  body: null
                  reason: "ConnectError: [Errno 111] Connection refused"
                errors:
                  - code: "litellm_runtime_delete_failed"
                    source: "litellm:/model/delete"
        '403':
          description: Invalid admin key
        '404':
          description: Model not found in registry
        '503':
          description: Admin mutations disabled when GATEWAY_ENGINE_ADMIN_KEY is unset
  /admin/models:
    get:
      summary: List gateway-engine-owned model registry records
      responses:
        '200':
          description: Registry models, falling back to parsed LiteLLM config when Postgres is unavailable
          content:
            application/json:
              example:
                source: "postgres:model_registry"
                registry_available: true
                models:
                  - model_id: "claude-sonnet-4-6"
                    provider: "anthropic"
                    family: "anthropic"
                    upstream_model: "claude-sonnet-4.6"
                    litellm_model: "openai/claude-sonnet-4.6"
                    enabled: true
                    status: "UNKNOWN"
                errors: []
    post:
      summary: Create or replace a model registry record
      parameters:
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
      requestBody:
        content:
          application/json:
            example:
              model_id: "gpt-5-4"
              upstream_model: "gpt-5.4"
              supports_tools: true
      responses:
        '200':
          description: Model upserted
        '403':
          description: Invalid admin key
        '503':
          description: Admin mutations disabled or registry unavailable
  /admin/models/{model_id}:
    get:
      summary: Read one model registry record
      parameters:
        - name: model_id
          in: path
          required: true
          schema: {type: string}
      responses:
        '200':
          description: Matching model record
        '404':
          description: Model not found
    patch:
      summary: Update one model registry record
      parameters:
        - name: model_id
          in: path
          required: true
          schema: {type: string}
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
      requestBody:
        content:
          application/json:
            example:
              enabled: true
              status: "HEALTHY"
              cost_tier: 2
      responses:
        '200':
          description: Model updated
        '404':
          description: Model not found
    delete:
      summary: Retire one model registry record
      description: >-
        Soft delete sets retired=true, advertised=false, and status=RETIRED.
        The row is retained. hard=true is rejected with hard_delete_disabled.
      parameters:
        - name: model_id
          in: path
          required: true
          schema: {type: string}
        - name: hard
          in: query
          required: false
          schema: {type: boolean, default: false}
          description: Rejected; hard delete is disabled.
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
      responses:
        '200':
          description: Model retired
          content:
            application/json:
              example:
                accepted: true
                registry_available: true
                model:
                  model_id: "gpt-5-4"
                  advertised: false
                  retired: true
                  enabled: false
                  status: "RETIRED"
                errors: []
        '404':
          description: Model not found
        '409':
          description: Hard delete rejected
          content:
            application/json:
              example:
                accepted: false
                registry_available: true
                model:
                  model_id: "gpt-5-4"
                  advertised: true
                  retired: false
                  status: "HEALTHY"
                errors:
                  - code: "hard_delete_disabled"
                    message: "hard delete is disabled; use soft delete to retire the model"
                    source: "postgres:model_registry"
  /admin/models/{model_id}/probe:
    post:
      summary: Probe one model and persist normalized probe status
      parameters:
        - name: model_id
          in: path
          required: true
          schema: {type: string}
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
      responses:
        '200':
          description: Probe completed and registry probe fields updated
          content:
            application/json:
              example:
                accepted: true
                registry_available: true
                model_id: "gpt-5-4"
                probe_status: "success"
                probe_http_status: 200
                probe_checked_at: "2026-06-06T00:00:00Z"
                model:
                  model_id: "gpt-5-4"
                  provider: "openai"
                  probe_status: "success"
                  probe_http_status: 200
                errors: []
        '403':
          description: Invalid admin key
        '404':
          description: Model not found in registry
        '503':
          description: Admin mutations disabled when GATEWAY_ENGINE_ADMIN_KEY is unset
  /admin/models/reconcile:
    post:
      summary: Preview or enqueue model reconciliation
      description: >-
        With dry_run true, renders candidate LiteLLM and Gemini map resources
        without writing files. With dry_run false, asynchronously enqueues a
        manual run on the singleton reconciliation scheduler; poll
        /admin/status for completion. Concurrent requests coalesce into at most
        one pending rerun.
      parameters:
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run:
                  type: boolean
                  default: true
                  description: Render only when true; enqueue a full manual scheduler run when false.
                include_disabled:
                  type: boolean
                  default: false
                  description: Include disabled registry models in rendered resources.
            example:
              dry_run: true
              include_disabled: false
      responses:
        '200':
          description: Dry-run rendered resources, or manual scheduler enqueue result
          content:
            application/json:
              examples:
                dryRun:
                  value:
                    accepted: true
                    dry_run: true
                    source: "postgres:model_registry"
                    registry_available: true
                    resources:
                      - name: "litellm-config.yaml"
                        kind: "yaml"
                        changed: true
                        content: "model_list:\n- model_name: gpt-5-4\n"
                        diff: "--- current/litellm-config.yaml\n+++ desired/litellm-config.yaml\n"
                    errors: []
                forceRun:
                  value:
                    accepted: true
                    dry_run: false
                    source: "scheduler:model-reconciliation"
                    registry_available: true
                    resources: []
                    errors: []
        '403':
          description: Invalid admin key
        '503':
          description: Admin mutations disabled when GATEWAY_ENGINE_ADMIN_KEY is unset
  /admin/models/sync:
    post:
      summary: Import LiteLLM config or CLIProxy discovery into the gateway-engine model registry
      parameters:
        - name: x-admin-key
          in: header
          required: true
          schema: {type: string}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run:
                  type: boolean
                  default: true
                source:
                  type: string
                  enum: [litellm-config, cliproxy]
                  default: litellm-config
            example:
              dry_run: true
              source: cliproxy
      responses:
        '200':
          description: Import result
          content:
            application/json:
              example:
                dry_run: true
                source: cliproxy
                registry_available: true
                imported_count: 2
                skipped_count: 0
                models:
                  - model_id: "gpt-5-4"
                    provider: "openai"
                    upstream_model: "gpt-5.4"
                    litellm_model: "openai/gpt-5.4"
                    source: "cliproxy"
                diffs:
                  - kind: "add"
                    model_id: "gpt-5-4"
                errors: []
        '503':
          description: Admin mutations disabled when GATEWAY_ENGINE_ADMIN_KEY is unset
  /admin/dashboard:
    get:
      summary: Admin console HTML dashboard
      responses:
        '200':
          description: HTML dashboard page
components:
  parameters:
    AdminKeyHeader:
      name: x-admin-key
      in: header
      required: true
      schema: {type: string}
    StableKeyAlias:
      name: alias
      in: path
      required: true
      description: Stable key alias (1-200 characters; slash-delimited alphanumeric, dot, underscore, or hyphen segments).
      schema:
        type: string
        minLength: 1
        maxLength: 200
        example: repo/customer-a
  schemas:
    UnifiedConfigSnapshot:
      type: object
      additionalProperties: false
      required: [schema, status, generated_at, sources, models, routing, mcp, environment, validation, drift, errors]
      properties:
        schema: {type: string, enum: [config-snapshot.v1]}
        status: {type: string, enum: [ok, degraded]}
        generated_at: {type: string, format: date-time}
        sources:
          type: array
          maxItems: 3
          items:
            type: object
            additionalProperties: false
            required: [id, kind, status, digest, observed_at]
            properties:
              id: {type: string, enum: [litellm-config, model-registry, runtime-visible-models]}
              kind: {type: string, enum: [deployed-file, registry, live-api]}
              status: {type: string, enum: [ok, missing, invalid, unavailable]}
              digest: {type: string, pattern: '^[a-f0-9]{64}$'}
              observed_at: {type: string, format: date-time}
        models:
          type: object
          additionalProperties: false
          required: [configured, registry, runtime, providers, fallbacks]
          properties:
            configured: {$ref: '#/components/schemas/BoundedStringList'}
            registry: {$ref: '#/components/schemas/BoundedStringList'}
            runtime: {$ref: '#/components/schemas/BoundedStringList'}
            providers:
              type: array
              maxItems: 256
              items:
                type: object
                additionalProperties: false
                required: [alias, family]
                properties:
                  alias: {type: string, maxLength: 512}
                  family: {type: string, maxLength: 512}
            fallbacks:
              type: array
              maxItems: 256
              items:
                type: object
                additionalProperties: false
                required: [from, to]
                properties:
                  from: {type: string, maxLength: 512}
                  to: {$ref: '#/components/schemas/BoundedStringList'}
        routing:
          type: object
          additionalProperties: false
          properties:
            routing_strategy: {}
            cooldown_time: {}
            allowed_fails: {}
            num_retries: {}
        mcp:
          type: array
          maxItems: 256
          items:
            type: object
            additionalProperties: false
            required: [alias, transport]
            properties:
              alias: {type: string, maxLength: 512}
              transport: {type: string, maxLength: 512}
        environment:
          type: array
          maxItems: 256
          items:
            type: object
            additionalProperties: false
            required: [name, present]
            properties:
              name: {type: string, maxLength: 512}
              present: {type: boolean}
        validation:
          type: array
          maxItems: 256
          items:
            type: object
            additionalProperties: false
            required: [id, status]
            properties:
              id: {type: string, maxLength: 512}
              status: {type: string, enum: [pass, warn, fail]}
        drift:
          type: object
          additionalProperties: false
          required: [status, configured_only, registry_only, runtime_only, missing_at_runtime, registry_override]
          properties:
            status: {type: string, enum: [clean, drifted, unknown]}
            configured_only: {$ref: '#/components/schemas/BoundedStringList'}
            registry_only: {$ref: '#/components/schemas/BoundedStringList'}
            runtime_only: {$ref: '#/components/schemas/BoundedStringList'}
            missing_at_runtime: {$ref: '#/components/schemas/BoundedStringList'}
            registry_override: {type: boolean}
        errors:
          type: array
          maxItems: 256
          items:
            type: object
            additionalProperties: false
            required: [source, code]
            properties:
              source: {type: string, enum: [litellm-config, model-registry, runtime-visible-models]}
              code: {type: string, enum: [source_missing, source_invalid, source_timeout, source_unavailable]}
    BoundedStringList:
      type: array
      maxItems: 256
      items: {type: string, maxLength: 512}
    UnifiedConfigSnapshotError:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message]
          properties:
            code:
              type: string
              enum: [config_snapshot_disabled, config_snapshot_auth_required, config_snapshot_scope_forbidden, config_snapshot_invalid_request, config_snapshot_too_large, config_snapshot_unavailable]
            message: {type: string}
    StableKeyCreateRequest:
      type: object
      required: [key_alias, team_id]
      additionalProperties: true
      properties:
        key_alias: {type: string, example: repo/customer-a}
        team_id: {type: string, example: team-1}
        models:
          type: array
          items: {type: string}
    StableKeyImportRequest:
      type: object
      required: [key]
      properties:
        key: {type: string, writeOnly: true, example: sk-original-token}
    StableKeySecret:
      type: object
      required: [key_alias, key, team_id, key_id]
      properties:
        key_alias: {type: string, example: repo/customer-a}
        key: {type: string, format: password, example: sk-original-token}
        team_id: {type: string, example: team-1}
        key_id:
          type: string
          description: Opaque stable LiteLLM identity (the stored token hash for LiteLLM v1.93.0), not a secret
          example: 0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
    StableKeyError:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [invalid_request, invalid_key_alias, admin_key_required, key_alias_not_found, key_secret_not_escrowed, key_identity_mismatch, secret_store_unavailable, key_creation_incomplete]
            message: {type: string}
  responses:
    StableKeySuccess:
      description: Verified stable key secret
      headers:
        Cache-Control:
          schema: {type: string, enum: [no-store]}
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StableKeySecret'
    StableKeyNotFound:
      description: LiteLLM key alias was not found (`key_alias_not_found`)
      headers:
        Cache-Control:
          schema: {type: string, enum: [no-store]}
      content:
        application/json:
          schema: {$ref: '#/components/schemas/StableKeyError'}
    StableKeyConflict:
      description: Secret is absent, incomplete, or has mismatched identity metadata
      headers:
        Cache-Control:
          schema: {type: string, enum: [no-store]}
      content:
        application/json:
          schema: {$ref: '#/components/schemas/StableKeyError'}
    StableKeyIncomplete:
      description: LiteLLM creation or verification did not complete (`key_creation_incomplete`)
      headers:
        Cache-Control:
          schema: {type: string, enum: [no-store]}
      content:
        application/json:
          schema: {$ref: '#/components/schemas/StableKeyError'}
    SecretStoreUnavailable:
      description: >-
        OpenBao is unavailable or not configured (`secret_store_unavailable`),
        or Gateway Engine admin authentication is not configured
        (`admin_key_required`).
      headers:
        Cache-Control:
          schema: {type: string, enum: [no-store]}
      content:
        application/json:
          schema: {$ref: '#/components/schemas/StableKeyError'}
  securitySchemes:
    AdminKey:
      type: apiKey
      in: header
      name: x-admin-key
